@charset "utf-8";

/**************** 임시 ****************/
* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
ul, li {
    list-style: none;
}
/**************************************/

.main-area {
    max-width: 345px;
}
header.ctop {
    width: 100%;
}
.ctop h2 {
    border-bottom: 1px solid #000;
    font-size: 1.5rem;
}

section.scont {
    width: 100%;
}

.passwrap {
    position: relative;
    display: flex;
}
.passwrap > .eye {
    position: absolute;
    top: 50%;
    right: -25px;
    translate: 0 -50%;
}



.logF ul li input {
    border-radius: 5px;
    border: 1px solid #000;
    margin: 5px 0;
    justify-content: center;
    width: 100%;
    height: 40px;
    font-size: 13px;
}






.login {
    margin-top: 200px;
}
.logF ul li input[type=radio] {
    width: 10px;
    height: 20px;
    transform: translateY(5px);
}
.logF ul li:nth-of-type(6) {
    width: 345px;
    display: flex;
    justify-content: space-between;
}
#email2 {
    width: 30%;
}
.logF ul li:nth-of-type(6) input,
.logF ul li:nth-of-type(7) input  {
    width: 100px;
}
.msg {
    color:#f00;
    font-size: 0.7rem;
}
#btnj {
    background-color: #fff;
    border: none;
    width:60px;
}
.gol {
    line-height: 44px;
}
.noneid {
    color: #4b4b4b;
}
.msg {
    display: block;
}


@media (max-width: 1024px) {
    .inner-cont {
        margin-left: 100px;
    }
}
@media (max-width: 375px) {
    .inner-cont {
        margin-top: 0
        ;
        margin-left: -00px;
    }
    .ctop {
        margin-left: 0px;
    }
    .ctop h2 {
        border-bottom: 1px solid #000;
        font-size: 1.5rem;
        width: 345px;
        margin-left:0px;
    }
    .logF ul {
        text-align: center;
        width: 345px;
        text-align: left;
        margin-left: 10px;
    }
    .logF ul li input {
        width: 320px;
    }
    .logF ul li:nth-of-type(6) {
        width: 320px;
        display: flex;
        justify-content: space-between;
    }
}
