@charset "utf-8";
/* sub 레이아웃 */
.header.black {background: #fff;}
.sub-top {position: fixed; top: var(--header-height); display: flex; flex-direction: column; width: 100%; background-color: #fff; z-index: 15;}
.sub-title {font-weight: bold; font-size: 16px; padding: 10px 15px; border-bottom: 1px solid var(--border-color); text-transform: uppercase;}
.category-tab {padding: 10px 15px; display: flex; gap: 10px; overflow-x: auto;}
.category-tab>li {height: 30px; padding: 0 20px; line-height: 30px; background: #EFEFEF; color: #777; border-radius: 20px; font-size: 13px;}
.category-tab>li.on {color: #fff; background: #000;}
@media screen and (min-width: 768px) {
    .sub-top {flex-direction: row; align-items: center;}
    .sub-title {border-bottom: none; font-size: 18px;}
    .category-tab>li {font-size: 14px;}
}

/* 브레드크럼, sub-section */