@charset "utf-8";

.faq-wrap{
    max-width: 600px;
    margin: 0 auto;
    padding: 120px 15px;
}

.faq-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tab-list{
    padding: 0 0 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
   
}

.tab-list li {
    display: flex;
    align-items: center;
}
.tab-list li.on{
    background-color: #000;
    color: #fff;
    padding: 7px 15px;
    border-radius: 12px;
}
.pager{
    display: flex;
    justify-content: center;
    padding: 70px 0;
    
}

.faq-list li{
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 3px;
    border-color: #dedede;
    padding: 5px 15px;
}

.answer {display: none;}