.inner-cont.login {max-width: 400px;}
.scont {
    text-align: center;
}
.scont input[type=text],
.scont input[type=password]{
    width: 345px;
    height: 40px;
    border: 1px solid #777;
    border-radius: 5px;
    padding-left: 5px;
    box-sizing: border-box;
    padding: 0.5% 10px;
    color: #1d1d1d;
}
.scont input[type=text] {
    margin-bottom: 30px;
}
.scont input[type=password] {
    margin-bottom: 2%;
}
.scont input[type=submit] {
    background-color: black;
    width: 345px;
    height: 40px;
    
    border-radius: 5px;
    padding-left: 5px;
    color:#fff;
}
#sbtn {
    background-color: black;
    margin: 20px 0 14px 0;
}
.addbx {
    text-align: center;
    font-size: 11px;
    margin-top: 5%;
}
.addbx a {
    color: #000;
    text-decoration: none;
}
.scont ul li:nth-of-type(5) {
    margin-bottom: 2%;
}


@media screen and (max-width: 1024px) {
    ul {
        list-style: none;
        padding: 0;
    }
    .box {
        width: 100%;
        
    }
    .scont input[type=text],
    .scont input[type=password]{
        width: 100%;
    }
    .scont input[type=text] {
        margin-bottom: 2%;
    }
    #sbtn {
        width: 100%;
    }
    .addbx {
        margin-top: 0;
    }
    .scont input[type=submit] {
        width: 100%;
    }
    .scont ul li:nth-of-type(5) {
        margin-bottom: 2%;
    }
}