@charset "utf-8";
/* 메인 공통 */
.section .inner {max-width: 1660px; margin: 0 auto; padding: 80px 15px;}
.section-tit {font-size: 28px; font-weight: 700; font-family: var(--tamburins); padding-bottom: 0.8em; line-height: 1;}
.link-btn {display: inline-flex; justify-content: space-between; width: 100%; max-width: 300px; padding: 19px 25px; transition: background-color .3s; border: 1px solid #000;}
.link-btn:hover, .link-btn:focus {background-color: #000; color: #fff;}
@media screen and (min-width: 768px) {
    .section .inner {padding: 100px 20px;}
    .section-tit {font-size: 1.5em;}
}

@media screen and (min-width: 1200px) {
    .section .inner {padding: 140px 30px;}
    .section-tit {font-size: 2.5em;}
}
/* section - main visual */
.video-wrap {width: 100%;}
.video-wrap video {display: none; width: 100%; max-width: 100%;}
.video-wrap video.mob {display: block;}

@media screen and (min-width: 768px) {
    .video-wrap video.mob {display: none;}
    .video-wrap video.web {display: block;}
}

/* section - Best seller */
.best-slide .swiper-slide {opacity: 0.3;}
.best-slide .swiper-slide-active {opacity: 1;}
.best-slide .item {display: flex; flex-direction: column; gap: 1rem;}
.best-slide .info-box {display: flex; flex-direction: column; gap: 5px;}
.best-slide .item .name {font-weight: 700;}
.best-slide .fragrance {color: var(--sub-text-color); font-size: 0.8rem;}

@media screen and (min-width: 768px) {
    .best-slide .swiper-slide {opacity: 1;}
}

/* section - new */
.section.new {min-height: 833px; background-image: url('../img/main/bg-new-temp.PNG'); background-position: top; background-size: cover; background-repeat: no-repeat;}
.new-product-wrap {color: #fff;}
.new-product-wrap .section-tit {font-size: 56px;}
.new-product-wrap .intro-box p {margin-top: 1rem;}
.new-product-wrap .link-btn {background-color: rgba(255, 255, 255, 0.2); border: none; margin-top: 30px;}
.new-product-wrap .link-btn:hover {background-color: rgba(255,255,255,0.4);}

@media screen and (min-width: 768px) {
    .section.new {background-image: url('../img/main/pc_main_banner.png');}
    .new-product-wrap {width: 50%;}
    .new-product-wrap .intro-box {font-size: 1.2rem;}
}

/* section store */
.store-wrap {display: flex; flex-direction: column-reverse; gap: 60px; justify-content: space-between;}
.store-wrap .section-tit {font-family: var(--pretendard);}

.store-slide {padding-bottom: 20px;}
.store-name {margin-top: 1rem; opacity: 0; transition: opacity 0.5s;}
.store-name.show {opacity: 1;}
.store-slide .swiper-scrollbar {border-radius: 0; width: 100%; left: 0;}
.store-slide .swiper-scrollbar-drag {background: #000; border-radius: 0;}
.store-slide .swiper-button-prev,
.store-slide .swiper-button-next {width: 40px; height: 40px; background-image: none; background-color: #000; transform: translateY(-50%); margin-top: 0; top: calc(50% - 10px);}
.store-slide .swiper-button-prev {left: 0;}
.store-slide .swiper-button-next {right: 0;}
.store-slide .swiper-button-next:after, 
.store-slide .swiper-button-prev:after {font-size: 16px; color: #fff;}

.store-wrap .link-btn {margin-top: 30px;}
@media screen and (min-width: 1024px) {
    .store-wrap {flex-direction: row-reverse;}
    .store-slide-wrap {width: calc(60% - 30px);}
    .store-info {width: calc(40% - 30px);}
    .store-slide .swiper-button-prev,
    .store-slide .swiper-button-next {width: 60px; height: 60px;} 
    .store-slide .swiper-button-next:after, 
    .store-slide .swiper-button-prev:after {font-size: 20px;}
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
