@charset "utf-8";

/* 제품리스트 CSS - product-list.css */

/* thumb-box s */
.thumb-box{
    width: 50%;
}
.thumb-box>img{
    width: 100%;
    
}
/* thumb-box e */
/* detail-box s */
.detail-box{
    width: 50%;
}
/* detail-box e */