@charset "utf-8";

/* 제품리스트 CSS - product-list.css */

/* product-list-area s */
.product-list-area {
  width: 100%;
}
/* product-list-area e */

/* product-list-wrap s */
.product-list-wrap {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}
.product-list-wrap li {
  position: relative;
  overflow: hidden;
}
.product-list-wrap > li:hover img {
  animation: productImgScaleUp 25s linear infinite;
}
@keyframes productImgScaleUp {
  to {
    scale: 1.5;
  }
}
.product-img-wrap {
  width: 100%;
  overflow: hidden;
}
/* product-list-wrap e */

/* product-info s */
.product-info {
  padding: 20px;
  padding-bottom: 30px;
}
.product-info h2 {
  font-weight: bold;
}
.product-info em{
  font-size: 12px;
}
/* product-info e */

/* =========================================
===============미디어쿼리 영역 시작==============*/

/******************* 1024px *******************/
@media (max-width: 1024px) {
  /* 리스트 박스 컬럼개수 */
  .product-list-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

/******************* 모바일 *******************/

/* ========================================
  ===============미디어쿼리 영역 끝==============*/
